<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<p>
  O <a href="http://www.railstutorial.org/"><em>Tutorial Ruby on Rails</em></a> é um
  <a href="http://www.railstutorial.org/book">livro</a> e
  <a href="http://screencasts.railstutorial.org/"> uma série de vídeos</a>
  para ensinar desenvolvimento web com <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  Este é o aplicativo de exemplo para o tutorial.
</p>
