<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Obtenha ajuda no Ruby on Rails Tutorial pelo endereço
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  Para obter ajuda sobre este aplicativo de exemplo, veja o livro
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a>.
</p>
