<div class="center jumbotron">
  <h1>Bem vindo ao App de Exemplo</h1>

  <h2>
    Esta é a página para o aplicativo de exemplo do
    <a href="http://www.railstutorial.org/">Tutorial do Ruby on Rails</a>.
  </h2>

  <%= link_to "Inscreva-se agora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>