<footer class="footer">
  <small>
    O <a href="http://www.railstutorial.org/">Tutorial do Ruby on Rails</a>
    por <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Notícias</a></li>
    </ul>
  </nav>
</footer>